<div id="<%= dom_id servidor_federal %>" class="card">
  <div class="card-body">
  <h5 class="card-title">Servidor federal</h5>
      <p>
      <strong>Cpf:</strong>
        <%= servidor_federal.cpf %>
        </p>
      <p>
      <strong>Nome:</strong>
        <%= servidor_federal.nome %>
        </p>
      <p>
      <strong>Cargo:</strong>
        <%= servidor_federal.cargo %>
        </p>
      <p>
      <strong>Orgao:</strong>
        <%= servidor_federal.orgao %>
        </p>
      <p>
      <strong>Salario:</strong>
        <%= servidor_federal.salario %>
        </p>
      <p>
      <strong>Situacao:</strong>
        <%= servidor_federal.situacao %>
        </p>
      <p>
      <strong>Tipo servidor:</strong>
        <%= servidor_federal.tipo_servidor %>
        </p>
      <p>
      <strong>Codigo matricula formatado:</strong>
        <%= servidor_federal.codigo_matricula_formatado %>
        </p>
      <p>
      <strong>Flag afastado:</strong>
        <%= servidor_federal.flag_afastado %>
        </p>
      <p>
      <strong>Orgao lotacao codigo:</strong>
        <%= servidor_federal.orgao_lotacao_codigo %>
        </p>
      <p>
      <strong>Orgao lotacao nome:</strong>
        <%= servidor_federal.orgao_lotacao_nome %>
        </p>
      <p>
      <strong>Orgao lotacao sigla:</strong>
        <%= servidor_federal.orgao_lotacao_sigla %>
        </p>
      <p>
      <strong>Orgao exercicio codigo:</strong>
        <%= servidor_federal.orgao_exercicio_codigo %>
        </p>
      <p>
      <strong>Orgao exercicio nome:</strong>
        <%= servidor_federal.orgao_exercicio_nome %>
        </p>
      <p>
      <strong>Orgao exercicio sigla:</strong>
        <%= servidor_federal.orgao_exercicio_sigla %>
        </p>
      <p>
      <strong>Estado exercicio sigla:</strong>
        <%= servidor_federal.estado_exercicio_sigla %>
        </p>
      <p>
      <strong>Estado exercicio nome:</strong>
        <%= servidor_federal.estado_exercicio_nome %>
        </p>
      <p>
      <strong>Codigo funcao cargo:</strong>
        <%= servidor_federal.codigo_funcao_cargo %>
        </p>
      <p>
      <strong>Descricao funcao cargo:</strong>
        <%= servidor_federal.descricao_funcao_cargo %>
        </p>
      <p>
      <strong>Cpf instituidor pensao:</strong>
        <%= servidor_federal.cpf_instituidor_pensao %>
        </p>
      <p>
      <strong>Nome instituidor pensao:</strong>
        <%= servidor_federal.nome_instituidor_pensao %>
        </p>
      <p>
      <strong>Cpf representante pensao:</strong>
        <%= servidor_federal.cpf_representante_pensao %>
        </p>
      <p>
      <strong>Nome representante pensao:</strong>
        <%= servidor_federal.nome_representante_pensao %>
        </p>
      <p>
      <strong>Remuneracao bruta:</strong>
        <%= servidor_federal.remuneracao_bruta %>
        </p>
      <p>
      <strong>Remuneracao apos deducoes:</strong>
        <%= servidor_federal.remuneracao_apos_deducoes %>
        </p>
    </div>
</div>