<main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-900 h-screen p-6">
  <section class="bg-gray-900 min-h-[calc(100vh-4rem)] text-white grid grid-cols-2 p-6 gap-4" data-controller="dashboard"
     data-dashboard-data-value="<%= @monthly_orders.to_json %>"
     data-dashboard-options-value="<%= {
       colors: ['#3b82f6'],
       legend: false,
       library: {
         scales: {
           x: { ticks: { color: '#ffffff' } },
           y: { ticks: { color: '#ffffff' } }
         }
       }
     }.to_json %>">
    <div class="grid grid-cols-1 gap-4">
      <div class="flex gap-4">
        <%= render "admin/dashboard/partials/vendas" %>
      </div>
    </div>
        <%= render "admin/dashboard/partials/propostas", today_clients_count: @today_clients_count %>
      <%= render "admin/dashboard/partials/status" %>
    <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4">Estatísticas Mensais</h2>
      <!-- Elemento específico para o gráfico -->
      <div data-dashboard-target="chart" class="h-80 w-full"></div>
    </div>
    <%= render "admin/dashboard/partials/status_do_sistema" %>
  </section>
</main>