<%= simple_form_for(@contact_message, html: { class: "w-full" }) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="space-y-6">
    <div class="flex flex-col">
      <label for="contact_message_name" class="block mb-2 text-sm font-medium text-gray-100">
        Name
      </label>
      <%= form.input :name,
          wrapper: false,
          label: false,
          input_html: {
            class: "bg-purple-950 border border-purple-800 text-gray-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          }
      %>
    </div>
    <div class="flex flex-col">
      <label for="contact_message_email" class="block mb-2 text-sm font-medium text-gray-100">
        Email
      </label>
      <%= form.input :email,
          wrapper: false,
          label: false,
          input_html: {
            class: "bg-purple-950 border border-purple-800 text-gray-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          }
      %>
    </div>
    <div class="flex flex-col">
      <label for="contact_message_message" class="block mb-2 text-sm font-medium text-gray-100">
        Message
      </label>
      <%= form.input :message,
          wrapper: false,
          label: false,
          input_html: {
            class: "bg-purple-950 border border-purple-800 text-gray-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          }
      %>
    </div>
    <div class="flex flex-col">
      <label for="contact_message_status" class="block mb-2 text-sm font-medium text-gray-100">
        Status
      </label>
      <%= form.input :status,
          wrapper: false,
          label: false,
          input_html: {
            class: "bg-purple-950 border border-purple-800 text-gray-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          }
      %>
    </div>

    <div class="flex justify-center">
      <%= form.submit 'Salvar',
          class: "bg-blue-600 hover:bg-blue-700 text-gray-100 px-8 py-2.5 rounded-lg font-medium text-sm transition duration-300 ease-in-out w-full"
      %>
    </div>
  </div>
<% end %>