<%= simple_form_for(@create_perfil_permission, html: { class: "w-full" }) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="space-y-6">
    <div class="flex flex-col">
      <label for="create_perfil_permission_perfil_id" class="block mb-2 text-sm font-medium text-gray-100">
        Perfil
      </label>
      <%= form.association :perfil,
          collection: Perfil.all,
          prompt: "Selecione um perfil",
          label: false,
          wrapper: false,
          input_html: {
            class: "bg-purple-950 border border-purple-800 text-gray-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          } %>
    </div>

    <div class="flex flex-col">
      <label for="create_perfil_permission_permission_id" class="block mb-2 text-sm font-medium text-gray-100">
        Permission
      </label>
      <%= form.association :permission,
          collection: Permission.all,
          prompt: "Selecione uma permissão",
          label: false,
          wrapper: false,
          input_html: {
            class: "bg-purple-950 border border-purple-800 text-gray-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          } %>
    </div>

    <div class="flex justify-center">
      <%= form.submit 'Salvar',
          class: "bg-blue-600 hover:bg-blue-700 text-gray-100 px-8 py-2.5 rounded-lg font-medium text-sm transition duration-300 ease-in-out w-full" %>
    </div>
  </div>
<% end %>