<!DOCTYPE html>
<html class="h-full bg-gray-100">
<head>
  <title>Genius360</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body class="h-full">
  <aside id="default-sidebar" class="fixed top-0 left-0 z-40 h-screen h-screen" aria-label="Sidebar" data-controller="sidebar" data-sidebar-target="sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto">
      <ul class="space-y-2 font-medium">
        <%= render "shared/sidebar" %>
      </ul>
    </div>
  </aside>

  <div class="ml-4 sm:ml-12">
    <%= yield %>
  </div>

  <%= render "shared/flash" %>
</body>
</html>